// import the CSS framework
$color-primario: #ff8000;

$topbar-bg: #ffffff;
$topbar-height: 25px;
$topbar-link-color: #000000;
$topbar-link-color: #000;
$topbar-link-color-hover: #000;
$topbar-link-color-active: #000;
$topbar-link-color-active-hover: #000;
$topbar-menu-link-color: #000;
$topbar-link-font-size: rem-calc(16);

$topbar-link-bg-active: $color-primario;
$topbar-link-font-family: helvetica,arial;
$topbar-link-bg-hover: $color-primario;
$topbar-arrows: false;

//Reescritura de variables del nav




@import "foundation";
body{
  background-image:image-url("lategame.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size: cover;
}

// override for the 'Home' navigation link
.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px; }
.top-bar .name a {
  font-weight: normal;
  color: white;
  padding: 0 15px; }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  @extend .small-centered;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend twelve-columns;
  background-color: #eee;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
section {
  @extend .row;
  margin-top: 20px;
  }
.row{
  background-color: white;
}
#container{
  @include grid-column(
    $columns:12,
    $center:true,
    $collapse:true);
}
#top-banner{
  margin: 10px 40px 0px 0px;
  width: 468px;
  float: right;
  position: relative;
}
.top-bar{
  margin: 1em;
}
