<%# add navigation links to this file %>
 <li class="active"><a href="#">Right Button Active</a></li>
<li><a href="#">Left Nav Button</a></li>
<li class="has-dropdown">
        <a href="#">Right Button Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
        </ul>
      </li>
<li><a href="#">Left Nav Button</a></li>
